{% extends "base.html" %}

{% block title %}NYUAD Market - Welcome{% endblock %}


{% block content %}



<!-- Fixed navbar --> <div class="container"><h1 class="text-muted">NYUAD Market</h1> </div><br>

<div class="container">

<!-- Main component for a primary marketing message or call to action --> <div class="jumbotron"> <p>NYUADmarket was developed by the NYU Abu Dhabi students in partial fulfillment of the course requirement of Software Engineering course. </p> <p>NYUAD Market allows NYUAD students to conveniently trade goods. The seller can post items and interested parties are able to interact with him. </p> <p>The site is linked to subscribers' nyu email addresses, which allows exclusivity of members and a good means of communication. No personal information is collected through this website.</p> <p></p> <p>Development team: Weichen Zhu, Talha Javed and Derara Hailegeorgis  </p> </div>

</div> <!-- /container -->

{% endblock %}
