<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(50) }}"></td><td><i><a href="{{ url_for('.user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</td>
        <td>says:</i><br>{{ post.body }}</td>
    </tr>
</table>
<div class="post-footer">
    <a href="{{ url_for('.post', id=post.id) }}">
        <span class="label label-default">Permalink</span>
    </a>
</div>

{% for comment in comments.items %}
        {% include '_comments.html' %}
{% endfor %}
<form action="" method="post" name="comment">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Say something:</td>
                <td>{{ form.comment(size=30, maxlength=140) }}</td>
                <td>
                {% for error in form.errors.post %}
                <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Comment!"></td>
                <td></td>
            </tr>
        </table>
    </form>